body {
  background-color: var(--el-bg-color);
  font-family: "Roboto Mono", Menlo, Consolas, monospace;
  margin: 0;
  padding: 5px 0;
  height: calc(100% - 10px);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0b1015;
  }
}
#app, html {
  height: 100%;
}
html#popup {
  height: auto;
  #app {
    height: auto;
  }
}
img#preload {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
html.dark, html, :root {
  --el-color-primary: #42b983;
  .el-dialog {
    --el-dialog-padding-primary: 10px;
    display: flex;
    flex-direction: column;
  }
  .el-dialog__body {
    padding: var(--el-dialog-padding-primary);
    height: 100%;
    overflow: auto;
  }
  .el-tree {
    --el-tree-node-hover-bg-color: transparent;
  }
}
* {
  font-family: inherit;
}
.el-input__inner {
  color: inherit;
}
.el-tabs__header {
  margin: 0;
}
.el-tabs--card>.el-tabs__header {
  .el-tabs__item {
    background-color: rgba($color: #aaa, $alpha: .2);
    border-bottom: 1px solid var(--el-border-color-light);
    &.is-active {
      background-color: transparent;
      border-bottom: 1px solid #FFF;
    }
    &:first-child {
      border-left: none;
    }
  }
}
.el-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.el-tabs__nav-scroll {
  padding-left: 50px;
}
.el-tabs__content {
  overflow: auto;
  flex: 1;
  padding: 2px;
}
.el-tabs__item {
  font-weight: bold;
}
.el-message {
  .el-message__content {
    white-space: nowrap;
  }
}
::-webkit-scrollbar-track-piece {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background-color: #b6c6ce;
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.el-button--primary {
  .is-link,
  .is-plain,
  .is-text {
    color: inherit;
    margin: 0 2px;
  }
}
.el-button.is-link:not(.is-disabled) {
  color: #2c3e50;
  margin-left: 5px;
  &:focus,
  &:hover {
    color: #2c3e50;
    background-color: #e8faf2;
  }
}
.value {
  color: #bdc6cf;
}
.data-boolean {
  display: inline-block;
  width: 3em;
}
.data-boolean, .data-number {
  color: #03c;
}
.data-string {
  color: #c41a16;
}
.data-null {
  color: #999;
}
.dark {
  --el-bg-color: #0b1015;
  ::-webkit-scrollbar-thumb {
    background-color: #2c3e50;
  }
  .el-button.is-link {
    color: #fff;
    &:focus,
    &:hover {
      color: #fff;
      background: #4e6e8e;
    }
  }
  .data-boolean, .data-number {
    color: #997fff;
  }
  .data-string {
    color: #e33e3a;
  }
  .el-tabs--card>.el-tabs__header {
    .el-tabs__item {
      background-color: rgba($color: #666, $alpha: .2);
      &.is-active {
        background-color: transparent;
        border-bottom: 1px solid var(--el-bg-color);
      }
      &:first-child {
        border-left: none;
      }
    }
  } 
}